<div class="container">
  <form>
    <div class="header">
      <h1 class="has-text-centered">
        Code Snippet Manager <br /><span>&lsaquo; &frasl; &rsaquo;</span>
      </h1>
    </div>
    <div class="form-group has-margin-top-40">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword"
        aria-describedby="emailHelp"
        placeholder="Enter password"
      />
      <small id="emailHelp" class="form-tet text-muted"
        >Password need to have min. 8 characters.</small
      >
    </div>

    <button
      type="submit"
      class="btn btn-secondary btn-lg btn-block has-margin-top-40"
    >
      Log In
    </button>

    <div class="bottom-tips has-margin-top-20">
      <p>Forgot password?</p>
      <p>Sign In</p>
    </div>
  </form>
</div>
