.first-row {
  div[class^="col"] {
    border: 2px solid black;
    height: 18vh;
  }

  div.col-4 {
    background: #ded7cf;
    position: relative;
    h2 {
      width: fit-content;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  div.col-8 {
    background: #f7f7f2;
    .nav {
      float: right;
      font-size: 1.2em;
      margin-top: 20px;

      a {
        color: black;
        font-weight: 600;
        font-size: 1.6rem;
        // border-right: 2px solid black;
      }
    }
  }
}
