<div class="container-fluid">
  <div class=" row first-row fixed-top">
    <div class="col-4">
      <h2 class="blink-1"><b>C</b>ode <b>S</b>nippet <b>M</b>anager</h2>
    </div>
    <div class="col-8">
      <div class="avatar-container">
            <div class="shape_1"></div>
            <div class="shape_2"></div>
            <div class="shape_3"></div>
            <!-- <div class="shape_4"></div> -->
            <!-- <div class="shape_5"></div> -->
            <!-- <div class="shape_6"></div> -->
            <div class="shape_7"></div>
            <div class="initials">MG</div>

<!--
                <article class="clock">
                    <div class="hours-container">
                      <div class="hours"></div>
                    </div>
                    <div class="minutes-container">
                      <div class="minutes"></div>
                    </div>
                    <div class="seconds-container">
                      <div class="seconds"></div>
                    </div>
                  </article> -->



        </div>
      <nav #nav class="nav hamburger-nav ">





        <!-- <task-icon></task-icon> -->
        <!-- <a class="nav-link active" href="#">Home</a> -->
        <!-- <a class="nav-link" href="#">About</a> -->
        <a class="nav-link" href="#" routerLink="/logIn">Log In</a>
        <a class="nav-link" href="#" routerLink="/personal/home"
          >Your Profile</a
        >
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Sign Up</a
        >
      </nav>
      <button
        #hamburger
        (click)="hamburgerCross = !hamburgerCross; toggleNav()"
        class="hamburger"
        [ngClass]="{ 'hamburger-cross': hamburgerCross }"
      ></button>
    </div>
  </div>
</div>
