

<div class="container">

  <!-- <div class="row">

    <div class="col" *ngFor="let zone of timeZones; let index=index">
        <div class="zone" *ngIf="(index + 1) % 5 == 0">
          {{zone}}
        </div>
    </div>


  </div> -->

  <!-- <div class="zone" *ngFor="let zone of timeZones; let indexx=index" >
      {{zone}}
  </div> -->


   <div class="tagi" [ngClass]="{'hover-date': isHover}">
     <div class="date-name">
      <span>Stage </span>
      <span>12.05-14.07</span>
    </div>
    <div class="bottom-date " *ngIf="isHover">
        <span>16.09.2019</span>
    </div>
   </div>

</div>
