@import "../../../style/styles.scss";

div.snippet-container {
  height: 100%;
  width: 100%;
  // background: $console-background;
  background: #ded7cf;
  // color: white;

  .row {
    div[class^="col"] {
      min-height: 550px;
      height: fit-content;

      div[class^="snippet-container"] {
        // margin: 40px 50px 0;
        margin-top: 40px;
        margin-bottom: 0;
      }
    }

    .col-5 {
      .snippet-container__desc {
        margin-left: 40px;
        // position: relative;
        .snippet-header {
          display: flex;
          justify-content: space-between;

          i.fa {
            position: absolute;
            opacity: 0.8;
            cursor: pointer;

            &.fa-edit {
              right: 35px;
              top: 10px;
            }

            &.fa-trash {
              right: 15px;
              top: 9.5px;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        span.add {
          font-size: 24px;
          top: 68px;
          cursor: pointer;
          right: 20px;
          margin-left: 15px;
          position: absolute;
        }

        div.snippet-description {
          overflow: auto;
          padding-right: 10px;
          padding-top: 20px;
          max-height: 400px;

          p {
            min-height: 350px;
            padding: 5px;

            &:focus {
              border: 2px solid black;
              outline: none;
              // outline: black auto 5px;
            }
          }
          @include scrollbar(#aba8a6);
        }
      }

      .links {
        ul {
          list-style: none;
          display: flex;

          li {
            margin-right: 10px;
          }
        }
      }
    }

    .col-7,
    .col-12 {
      .snippet-container__console {
        margin-right: 40px;
        min-width: 250px;
        min-height: 400px;
        // background: #23272e;
        position: relative;

        i.fa:not(.fa-sun-o):not(.fa-moon-o) {
          position: absolute;
          z-index: 30;
          right: 15px;
          top: 60px;
          color: white;
          opacity: 0.2;
        }

        .form-group {
          display: flex;
          margin-bottom: 0;
          button {
            width: 60px;
            background: transparent;
            cursor: pointer;

            &:focus {
              outline: none;
              border: none;
              box-shadow: none;
            }
          }

          .form-control {
            flex-grow: 2;
            width: 30%;
            background: transparent;
            cursor: pointer;
            border: none;
            margin-bottom: 15px;
            border-radius: 0;
            &:focus {
              border-color: transparent;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
