<div class="snippet-container">
  <div class="row">
    <div [ngClass]="{ 'col-5': !isExpanded, 'is-display-none': isExpanded }">
      <div class="snippet-container__desc">
        <div class="snippet-header">
          <h4 *ngIf="snippet">{{ snippet["id"] }}. {{ snippet["title"] }}</h4>
          <span>3 days ago</span>
          <i
            class="fa fa-edit"
            title="Edit snippet"
            (click)="editModeOnOff()"
          ></i>
          <i class="fa fa-trash" title="Delete snippet"></i>
        </div>

        <tag
          *ngFor="let tag of tags"
          [tagName]="tag.name"
          [color]="tag.color"
          [editMode]="editMode"
        ></tag>
        <span class="add" *ngIf="editMode" title="Add tag">+</span>
        <div class="snippet-description" *ngIf="snippet">
          <p #param>{{ snippet["description"] }}</p>
        </div>

        <button
          *ngIf="editMode"
          type="button"
          class="btn btn-secondary btn-lg btn-block"
          (click)="editDescription()"
        >
          Submit
        </button>
        <div class="links has-margin-top-20">
          <h6>Related links:</h6>
          <ul>
            <li>
              <a
                href="https://stackoverflow.com/questions/8378678/how-can-i-set-the-value-of-a-codemirror-editor-using-javascript"
                >StackOverflow</a
              >
            </li>
            <li>
              <a href="https://css-tricks.com/snippets/css/css-box-shadow/"
                >CSS Tricks</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'col-12': isExpanded, 'col-7': !isExpanded }">
      <div class="snippet-container__console">
        <div class="form-group">
          <select class="form-control form-control-sm">
            <option disabled="true">Select mode</option>
            <option value="" *ngFor="let mode of languageModes">{{
              mode
            }}</option>
          </select>
          <button class="btn"><i class="fa fa-moon-o"></i></button>
          <button class="btn"><i class="fa fa-sun-o"></i></button>
        </div>

        <i
          class="fa fa-compress"
          [ngClass]="{ 'fa-compress': isExpanded, 'fa-expand': !isExpanded }"
          (click)="isExpanded = !isExpanded"
        ></i>
        <ngx-codemirror
          #codeeditor
          [(ngModel)]="content"
          [autoFocus]="true"
          [options]="codeMirrorOptions"
        ></ngx-codemirror>
        <button type="button" class="btn btn-secondary btn-lg btn-block">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
