<svg>
  <circle
    r="120"
    cx="125"
    cy="325"
    fill="none"
    stroke="black"
    stroke-width="8px"
  ></circle>
  <circle r="15" cx="125" cy="330" fill="black"></circle>
  <circle
    r="120"
    cx="500"
    cy="325"
    fill="none"
    stroke="black"
    stroke-width="8px"
  ></circle>
  <circle r="10" cx="500" cy="330" fill="black"></circle>
  <circle r="20" cx="290" cy="330" fill="black"></circle>

  //rama
  <line
    x1="125"
    y1="330"
    x2="290"
    y2="330"
    stroke="black"
    stroke-width="10px"
  ></line>
  <line
    x1="125"
    y1="330"
    x2="218"
    y2="135"
    stroke="black"
    stroke-width="10px"
  ></line>
  <line
    x1="200"
    y1="90"
    x2="290"
    y2="330"
    stroke="black"
    stroke-width="11.6px"
  ></line>
  <line
    x1="218"
    y1="135"
    x2="440"
    y2="135"
    stroke="black"
    stroke-width="11.6px"
  ></line>
  <line
    x1="290"
    y1="330"
    x2="440"
    y2="135"
    stroke="black"
    stroke-width="11.6px"
  ></line>
  <line
    x1="435"
    y1="95"
    x2="500"
    y2="330"
    stroke="black"
    stroke-width="11.6px"
  ></line>

  //pedaly
  <line
    x1="290"
    y1="330"
    x2="280"
    y2="380"
    stroke="black"
    stroke-width="11px"
  ></line>
  <line
    x1="290"
    y1="320"
    x2="300"
    y2="275"
    stroke="black"
    stroke-width="11px"
  ></line>

  <line
    x1="263"
    y1="380"
    x2="295"
    y2="385"
    stroke="black"
    stroke-width="12px"
  ></line>
  <line
    x1="284"
    y1="274"
    x2="315"
    y2="280"
    stroke="black"
    stroke-width="12px"
  ></line>

  //siodelk

  <path
    d="M510,145
   C560,90  405,95  440,95"
    fill="none"
    stroke="#000"
    stroke-width="11px"
  ></path>

  <path
    d="M158,90
   C270,80  315,100  170,67"
    fill="black"
    stroke="#000"
    stroke-width="12px"
  ></path>
</svg>
