<search-form></search-form>

<div class="last-added-list has-margin-top-40">
  <h3>All snippets</h3>

  <div class="list-group">
    <a
      href=""
      routerLink="/personal/snippetView/3"
      class="list-group-item list-group-item-action"
    >
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">{{ description }}</p>
      <small
        ><b>Tags:</b> <tag *ngFor="let tag of tags" [tagName]="tag"></tag
      ></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
  </div>
</div>
