@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/material.css";
@import "~codemirror/theme/midnight.css";
@import "~codemirror/theme/pastel-on-dark.css";
@import "~codemirror/addon/scroll/simplescrollbars.css";

$console-background: #282c35;

@mixin scrollbar($background-color) {
  &::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $background-color;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  // font-family: HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma,
  //   HelveticaNeueW10-55Roma, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo,
  //   ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
  font-size: 14px;
  font-family: monospace;
}

$list-colors: #353531, #ec4e20, #ff9505, #016fb9, #000000;
$list-colors2: black, white, #beb7a4, #ff7f11, #ff1b1c;
$list-colors3: #1b2f33, #248232, #28502e, #8c7051, #ef3054;

.has-text-centered {
  text-align: center;
}

.has-margin-top-40 {
  margin-top: 40px;
}

.has-margin-top-20 {
  margin-top: 20px;
}

.is-display-none {
  display: none;
}

.CodeMirror {
  height: 400px;
  width: 100%;
  box-shadow: inset 0 0 10px #000000;

  div.CodeMirror-gutters {
    background: $console-background;
    border-right: 1px solid #3a3a3a;
    box-shadow: inset 0 0 10px #000000;
  }

  &.cm-s-midnight {
    background: $console-background;
  }
}

.tooltip-custom {
  border: 2px solid;

  position: absolute;
  height: 220px;
  width: 290px;
  background: white;
  border-radius: 4px;
  z-index: 99999;
  padding: 15px;

  &::after {
    content: "";
    background: white;
    position: absolute;
    height: 14px;
    width: 14px;
    top: -8px;
    right: 15px;
    transform: rotate(45deg);
    border-left: 2px solid;
    border-top: 2px solid;
  }
}
