<div class="container-fluid">
  <div class="row user-view">
    <div class="col-1">
      <ul class="list-group">
        <li class="list-group-item" title="Home">
          <a (click)="currentView = 'home'"><i class="fa fa-home"></i></a>
        </li>
        <li class="list-group-item" title="All snippets">
          <a (click)="currentView = 'all'"><i class="fa fa-database"></i></a>
        </li>
        <li class="list-group-item" title="Tags"><i class="fa fa-tags"></i></li>
        <li class="list-group-item" title="Profile settings">
          <i class="fa fa-cogs"></i>
        </li>
        <li class="list-group-item" title="Doc"><i class="fa fa-book"></i></li>
      </ul>
    </div>

    <div class="col-11" *ngIf="currentView == 'home'">
      <div class="row">
        <div
          class="col-8"
          [ngClass]="{ 'col-sm-5': !isExpanded, 'is-display-none': isExpanded }"
        >
          <last-added-snippets></last-added-snippets>
        </div>
        <div
          class="col-4 "
          [ngClass]="{ 'col-sm-12': isExpanded, 'col-sm-7': !isExpanded }"
        >
          <i
            class="fa"
            [ngClass]="{ 'fa-compress': isExpanded, 'fa-expand': !isExpanded }"
            (click)="isExpanded = !isExpanded"
          ></i>
          <h3>Create new</h3>
          <snippet-form></snippet-form>
        </div>
      </div>
    </div>

    <div class="col-11" style="padding: 0;" *ngIf="currentView == 'all'">
      <snippet-view></snippet-view>
    </div>
  </div>
</div>
