<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Filter</label>
      <input
        type="text"
        class="form-control fa"
        placeholder="&#xf002; Search"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select tag</label>
      <select
        (change)="onChange($event)"
        *ngIf="allTags"
        class="form-control"
        id="exampleFormControlSelect1"
      >
        <option>All</option>
        <option *ngFor="let tag of allTags">{{ tag["name"] }}</option>
      </select>
    </div>
  </form>
</div>
