<div class="container-fluid">
  <div class="row first-row">
    <div class="col-5">
      <div class="text-editor">
        <p>|</p>
        <p class="writing-animation">Easy as fuck...</p>
      </div>
    </div>
    <div class="col-4">
      <h4>All your ideas in one place!</h4>
      <p>
        Code Snippet Manager is an utility program that allows coders to put in
        functions, classes or other tidbits to save for use later.
      </p>
      <p>Register now >></p>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row" style="height: 10vh; background: #B5C9C3;"></div>
  <div class="row second-row">
    <div class="col"><h1></h1></div>
    <div class="col-5"></div>
    <div class="col"></div>
  </div>
</div>
