div.last-added-list {
  .list-group-item {
    border: none;

    p {
      opacity: 0.5;
    }
  }
}

.row {
  h3 {
    text-align: center;
    margin: 40px 0;
  }
}

div.col-4 {
  background: #0f20402e;
  padding-bottom: 20px;
  position: relative;
  i.fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 999;
  }
}
