<div class="last-added-list has-margin-top-40">
  <h3>Last added snippets</h3>
  <hr />
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">{{ description | truncate: 40 }}</p>
      <small
        ><b>Tags:</b> <tag *ngFor="let tag of tags" [tagName]="tag"></tag
      ></small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description | truncate: 10 }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description | truncate: 17 }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description | truncate: 23 }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description | truncate: 19 }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description | truncate: 33 }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-1 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">{{ description | truncate: 45 }}</p>
      <small class="text-muted"><b>Tags:</b> #js; #function; #animation</small>
    </a>
  </div>
</div>
